@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.pokemonCard {
    width: 60%;
    margin: 5%;
    border-radius: 10px;
    border: solid 5px yellow;
    background: rgb(45, 159, 184);
    background: linear-gradient(162deg, rgba(45, 159, 184, 1) 0%, rgba(129, 136, 86, 1) 30%, rgba(45, 159, 184, 1) 65%, rgba(129, 136, 86, 1) 100%);
    -webkit-box-shadow: 10px 10px 17px -3px rgba(201, 201, 201, 1);
    -moz-box-shadow: 10px 10px 17px -3px rgba(201, 201, 201, 1);
    box-shadow: 10px 10px 17px -3px rgba(201, 201, 201, 1);
}

.pokemonCard>img {
    width: 60%;
}

.link {
    text-decoration: none;
    color: $white;
}